{% extends "base.html" %}

<!--Titulo para cada página-->
{% block title %}
	ALADDIN
{% endblock%}

<!--Contenido propio de la página entre las llaves-->
{% block content %}
	<div class="bloquepeli">
		<div id="pelicula">
			<div class="pimagen">
				<img src="../imagenes/A.jpg" alt="Aladdin ">
			</div>
			<div id="pdetalle">
				<h1>Aladdin</h1>
				<ul>
					<li><strong>Direccion:</strong>: Ron Clements</li>
					<li><strong>Reparto:</strong>: John Musker</li>
					<li><strong>Sinopsis:</strong>: Súbete a la alfombra mágica, ríete y emociónate en una de las aventuras más espectaculares de todos los tiempos. Disfrutarás de las maravillas del mundo de Aladdín, desde la música ganadora de un Oscar a los momentos más 'geniales'. En el corazón de la mágica ciudad de Agrabah, un muchacho llamado Aladdín y su travieso mono Abú luchan por rescatar a la princesa Jasmine de los planes del malvado hechicero Jafar. La vida de Aladdín cambiará por completo cuando, tras frotar una lámpara mágica, aparece un disparatado e impredecible Genio que le otorga tres deseos, que le llevarán a vivir un viaje alucinante. </li>
				</ul>
				<div class="precio">
					12,99€
					<p> <button type="button">Añadir al carrito</button></p>
				</div>
			</div>
		</div>

		<div id="potras">
			<h2>Tambien puedes ver .... </h2>
			<ul>
				<li>La Sirenita</li>
				<li>Dumbo </li>
				<li>Alicia en el Pais de las Maravillas</li>
				<li>Pinocho</li>
			</ul>
		</div>

		<div id="popciones">
			<div id="izq">
				<img src="../imagenes/HPPF.jpg" alt="Harry Potter">Harry Potter
				<p><button type="button" onclick="harry.html" >VER DETALLE</button></p>
			</div>
			<div id="der">
				<img src="../imagenes/D.jpg" alt="Dumbo">Dumbo
				<p><button type="button">VER DETALLE</button></p>
			</div>
			<div id="izq1">
				<img src="../imagenes/PDCST.jpg" alt="Piratas del Caribe">Piratas del caribe
				<p><button type="button">VER DETALLE</button></p>
			</div>
			<div id="der1">
				<img src="../imagenes/PP.jpg" alt="Peter Pan">Peter Pan
				<p><button type="button">VER DETALLE</button></p>
			</div>
		</div>
	</div>
{% endblock %}
