<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>CINESTORE-{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo.css') }}/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src={{ url_for('static', filename='funcion.js') }}></script>
</head>

<body>
	<header>
		<div class= "titulo">
			<a href={{ url_for('index')}} ><h2>CINESTORE</h2></a>
		</div>
		<div id=menu-wrapper>
			<ul id="hmenu">
				 <li><a href="#">CATEGORIAS </a>
					<ul class="sub-menu">
						<!-- TODO: agregar el link para que se muestren las películas de dicho genero-->
						{% for genero in generos %}
							<li><a href="#">   {{ genero }}  </a></li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="#">    FORMATO </a>
					<ul class="sub-menu">
					<li><a href="#">DVD</a> </li>
					<li><a href="#">BLUE - RAY</a> </li>
					</ul>
				</li>
				<li><a href="#"> AYUDA</a>
					<ul class="sub-menu">
					<li><a href="#">    Preguntas Frecuentes</a> </li>
					<li><a href="#">    Acerca de</a> </li>
					</ul>
			    </li>
				<li><input type="text" placeholder="Buscar" name="Buscar"></li>
			</ul>
	     </div>
	</header>

	<main>
		<nav>
			<div >
				<a href="{{ url_for('carrito') }}"></a><img src="imagenes/carro.png"  alt="carrito" id="carro">
		    </div>

			<a href="{{ url_for('carrito') }}" class="linksbotton"><button type="button"  onclick="carro">  Carrito  </button></a>
			{%if user%}
			<p id="button"> </p>
			<a action={{url_for('logout')}} class="linksbotton"></a><button type="button"  onclick="Signout()">Salir</a></button>
			{%else%}
			<p id="button1"> </p>
			<a href="{{ url_for('signin') }}"class="linksbotton"><button type="button" onclick="">Crea tu cuenta</button></a>
			<p id="button"> </p>
			<a href="{{ url_for('login') }}" class="linksbotton"><button type="button"  onclick= "">Identificate</button></a>
			{%endif%}
			<ul id="lat">
				<!-- TODO: agregar el link para que se muestren las películas de dicho genero-->
				{% for genero in generos %}
					<li><a href="#">   {{ genero }}  </a></li>
				{% endfor %}
			</ul>
		</nav>

	<!--CONTENIDO VARIABLE SEGUN LA PAGINA-->
	    {% block content%} {% endblock %}

	</main>

	<footer>
		<p>Contactanos</p>
	</footer>

</body>

</html>
