{% extends "base.html" %}

<!--Titulo para cada página-->
{% block title %}
    {{ genero }}
{% endblock%}

<!--Contenido propio de la página entre las llaves-->
{% block content %}

	<div class="row">
		<h1> {{ genero }} </h1>
		{% for i in indices %}
		<div class="column">
			<h4> {{ catalogue["peliculas"][i]["titulo"] }}</h4>
			<a href={{ url_for("peli", movie = catalogue["peliculas"][i]["sigla"])}}>
				<img src={{ url_for('static',filename = catalogue["peliculas"][i]['poster'])}} alt={{ catalogue["peliculas"][i]["sigla"] }} style="width: 100%" onclick="myFunction(this);" >
			</a>
		</div>
		{% endfor %}

		<div id="imgtext"></div>
	</div>
{% endblock %}
