{% extends "base.html" %}

<!--Titulo para cada página-->
{% block title %}
	HISTORIAL
{% endblock%}

<!--Contenido propio de la página entre las llaves-->
{% block content %}
	<div class="bloquepeli">
		<div class="cabecera">
			<div class="imagenmenu">
				<img src={{ url_for('static', filename='imagenes/carro.png') }} class="topimg" alt="Carrito"/>
			</div>
			<br>
			<br>
			<h1>HISTORIAL DE COMPRAS</h1>
			<br>
			<br>
			<br>
		</div>
		<div class="contenido">

<!--SECTION con las compras realizadas el último mes-->
			<section id="ultimas">
				<h2>Compras realizadas:</h2>
				<br>
				{%for i in index_historial%}
					<div class="item">
						<div class="pelicula">
							<a href={{ url_for("peli", movie = catalogue["peliculas"][i]["sigla"])}}>
								<img src={{ url_for('static', filename = catalogue["peliculas"][i]["poster"] ) }} alt={{ catalogue["peliculas"][i]["sigla"] }} class="iconohistorial">
								{{ catalogue["peliculas"][i]["titulo"] }}
							</a>
						</div>
						<div class="botones">
							 <button type="button">Puntuar</button>
							 <button type="button">Comentar</button>
						</div>
					</div>
				{%endfor%}
		</div>
	</div>
{% endblock %}
