{% extends "base.html" %}

<!--Titulo para cada página-->
{% block title %}
	{{ pelicula["titulo"] }}
{% endblock%}

<!--Contenido propio de la página entre las llaves-->
{% block content %}
	<div class="bloquepeli">
		<div id="pelicula">
			<div class="pimagen">
				<img src={{ pelicula["poster"] }} alt={{ pelicula["sigla"] }}>
			</div>
			<div id="pdetalle">
				<h1> {{ pelicula["titulo"] }} </h1>
				<ul>
				  	<li><strong>Direccion:</strong> {{ pelicula["director"] }}</li>
				  	<li><strong>Reparto:</strong>
						{% for item in pelicula["actores"] %}
							{{item}},
						{% endfor %}
					</li>
					<li><strong>Año:</strong> {{ pelicula["anno"] }}</li>
				  	<li><strong>Género:</strong> {{ pelicula["genero"] }}</li>
				  	<li><strong>Sinopsis:</strong> {{ pelicula["sinopsis"] }}</li>
				</ul>
				<div class="precio">
					{{ pelicula["precio"] }}€ - {{ pelicula["formato"] }}
					<p> <button type="button">Añadir al carrito</button></p>
				</div>
			</div>
		</div>

		<div id="potras">
			<h2>Tambien puedes ver .... </h2>
			<ul>
				<li>La Sirenita</li>
				<li>Dumbo </li>
				<li>Alicia en el Pais de las Maravillas</li>
				<li>Pinocho</li>
			</ul>
		</div>

		<div id="popciones">
			<div id="izq">
				<img src="../imagenes/HPPF.jpg" alt="Harry Potter">Harry Potter
				<p><button type="button" onclick="harry.html" >VER DETALLE</button></p>
			</div>
			<div id="der">
				<img src="../imagenes/D.jpg" alt="Dumbo">Dumbo
				<p><button type="button">VER DETALLE</button></p>
			</div>
			<div id="izq1">
				<img src="../imagenes/PDCST.jpg" alt="Piratas del Caribe">Piratas del caribe
				<p><button type="button">VER DETALLE</button></p>
			</div>
			<div id="der1">
				<img src="../imagenes/PP.jpg" alt="Peter Pan">Peter Pan
				<p><button type="button">VER DETALLE</button></p>
			</div>
		</div>
	</div>
{% endblock %}
