{% extends "base.html" %}

<!--Titulo para cada página-->
{% block title %}
	Registro usuario
{% endblock%}

<!--Contenido propio de la página entre las llaves-->
{% block content %}
	<div class="bloquepeli">
		<div class="cabecera">
			<div>
				<br>
				<img src={{ url_for('static', filename='imagenes/usuario.png') }} class="topimg" alt="Carrito"/>
				<br>
			</div>
			<br>
			<br>
			<h1>REGISTRACI&Oacute;N</h1>
			<br>
			<br>
			<br>
		</div>
		<div class="contenido"></div>
			<form onsubmit="return validar(this)" action={{url_for('signin_activate')}} method="post" >
				<fieldset>
					<legend> <b> Persona </b> </legend>
					<div id="iconousuario">
						<img src={{ url_for('static', filename='imagenes/usuarioupload.png') }} class="iconousuario" alt="Usuario"><br>
						<input type="file" name="pic" id="pic">
					</div>
					<label for="user"><span>Username:</span></label>
					<input type="text" name="user" placeholder="Pepe17" id="user" required="required"><br>
					{% if error %}
						<p>Este usuario ya existe</p>
					{% endif %}
					<label for="nombre"><span>Nombre:</span></label>
					<input type="text" name="nombre" placeholder="Pepe" id="nombre" required="required"><br>
					<label for="apellido"><span>Apellido:</span></label>
					<input type="text" name="apellido" placeholder="Gonzalez" id="apellido" required="required"><br>
					<label for="correo"><span>Correo electrónico:</span></label>
					<input type="text" name="correo" placeholder="pepe@mail.com" id="correo" required="required"><br>
					<label for="tarjeta"><span>Tarjeta:</span></label>
					<input type="text" name="tarjeta" placeholder="1112223334" id="tarjeta"required="required"><br>
					<form id="register" method="post">
						<label for="contrasena">Contrase&#241;a</label>
						<input type="password" autofocus="autofocus" name="contrasena" placeholder="********" id="contrasena" required="required"><br>

						&nbsp;&nbsp;&nbsp;&nbsp;<span id="result"></span><br>

						<label for="contrasena2">ConfirmeContrase&#241;a</label>
						<input type="password" name="contrasena2" placeholder="********" id="contrasena2" required="required"><br>

					</form>
					<br>
					<br>
					<input type="checkbox" id="Condiciones" name="Condiciones" required="required" /><label for="Condiciones">Acepta las <a href="{{ url_for('static', filename = 'media/others/pagina_condiciones.html') }}">condiciones y t&eacute;rminos de esta p&aacute;gina</a></label>

				</fieldset>

				<br>
				<input id="submit" type="submit" value="Enviar" name="submit">
			</form>
		</div>
	</form>
{% endblock %}
