{% extends "base.html" %}

<!--Titulo para cada página-->
{% block title %}
	Registro usuario
{% endblock%}

<!--Contenido propio de la página entre las llaves-->
{% block content %}
	<div class="bloquepeli">
		<div class="cabecera">
			<div>
				<img src="../imagenes/usuario.png" class="topimg" alt="Carrito"/>
			</div>
			<br>
			<br>
			<h1>REGISTRACI&Oacute;N</h1>
			<br>
			<br>
			<br>
		</div>
		<div class="contenido">
			<form onsubmit="return validar(this)">
	<!--			<label for="username">
					<span>username:</span>
				</label>
				<input id="username" name="username" type="text">
				<br><br>
				<label for="nombre">
					<span>Nombre:</span>
				</label>
				<input id="nombre" name="nombre" type="text">
				<br><br>
 				<label for="apellido">
					<span>apellido:</span>
				</label>
 				<input id="apellido" name="apellido" type="text">
				<br><br>
				<label for="correo">
					<span>Correo electrónico:</span>
				</label>
				<input id="correo" name="correo" type="text">
				<br><br>
				<label for="tarjeta">
					<span>tarjeta:</span>
				</label>
				<input id="tarjeta" name="tarjeta" type="text">
				<br><br>
				<input type="submit"  value="Enviar">
			</form>-->
				<fieldset>
					<legend> <b> Persona </b> </legend>
					<div id="iconousuario">
						<img src="../imagenes/usuarioupload.png" class="iconousuario" alt="Usuario"><br>
						<input type="file" name="pic" id="pic">
					</div>
					<label for="username"><span>Username:</span></label>
					<input type="text" name="username" placeholder="Pepe17" id="username"><br>

					<label for="nombre"><span>Nombre:</span></label>
					<input type="text" name="nombre" placeholder="Pepe" id="nombre"><br>

					<label for="apellido"><span>Apellido:</span></label>
					<input type="text" name="apellido" placeholder="Gonzalez" id="apellido"><br>

					<label for="correo"><span>Correo electrónico:</span></label>
					<input type="text" name="correo" placeholder="pepe@mail.com" id="correo"><br>

					<label for="fechanacimiento">Fecha de nacimiento</label>
					<input type="date" name="fechanacimiento" id="fechanacimiento"><br>

					<label for="contrasena2">Contrase&#241;a</label>
					<input type="password" name="contrasena2" placeholder="********" id="contrasena2"><br>

					<label for="contrasena2">ConfirmeContrase&#241;a</label>
					<input type="password" name="contrasena" placeholder="********" id="contrasena"><br>

					<label for="tarjeta"><span>Tarjeta:</span></label>
					<input type="text" name="tarjeta" placeholder="1112223334" id="tarjeta"><br>


				</fieldset>

<!--				<fieldset>
					<legend> <b> Preferencias </b> </legend>
					<b>Seleccione sus preferencias:</b><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="Accion"> <label>Acción y aventuras</label><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="Animación"> <label>Animación</label><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="ficción"> <label>Ciencia ficción y fantasía</label><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="familiar"> <label>Cine familiar</label><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="Comedia"> <label>Comedia</label><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="Documentales"> <label>Documentales</label><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="Drama"> <label>Drama</label><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="Romantice"> <label>Romantice</label><br>
					<input type="checkbox" name="preferencias" value="preferencias" id="Terror"> <label>Terror</label><br>
				</fieldset>

			<fieldset>
					<legend> <b> Domicilio </b> </legend>
					<label for="calle">Calle</label>
					<input type="text" name="calle" placeholder="de la Castellana" id="calle">><br>

					<label for="altura">Numero</label>
					<input type="number" name="altura" placeholder="123" id="altura"><br>

					<label for="piso">Piso</label>
					<input type="number" name="piso" placeholder="3" id="piso"><br>

					<label for="codigopostal">Codigo Postal</label>
					<input type="number" name="codigopostal" placeholder="78001" id="codigopostal"><br>

					<label for="provincia">Provincia</label>
					<select name="provincia" id="provincia">
						<option value="">Seleccione...</option>
						<option value="AL">Albacete</option>
						<option value="AS">Asturias</option>
						<option value="AV">Avila</option>
						<option value="BA">Barcelona</option>
						<option value="BU">Burgos</option>
						<option value="CA">Cantabria</option>
						<option value="CO">Cordoba</option>
						<option value="GR">Granada</option>
						<option value="LE">León</option>
						<option value="MA">Madrid</option>
						<option value="NA">Navarra</option>
						<option value="SA">Salamanca</option>
						<option value="TE">Tenerife</option>
						<option value="VA">Valencia</option>
						<option value="ZA">Zaragoza</option>
					</select>
				</fieldset>

				<fieldset>
					<legend> <b> Datos Bancarios </b> </legend>
					<b>Seleccione su tarjeta:</b><br>
					<input type="radio" name="banco" value="tarjeta" id="VISA"> <label>VISA</label><br>
					<input type="radio" name="banco" value="tarjeta" id="MasterCard"> <label>MasterCard</label><br>
					<input type="radio" name="banco" value="tarjeta" id="AmEx"> <label>American Express</label><br>
					<input type="radio" name="banco" value="tarjeta" id="Diners"> <label>Diners Club</label><br>
				</fieldset>-->
				<br>
				<input id="submit" type="submit" value="Enviar" name="submit">
			</form>
		</div>
	</div>
{% endblock %}
